<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Taxistas</a>
</nav>
<div class="container">
  <div class="row pad-10">
    <div class="col">
           <h3>Historial</h3>
      
            <form>
                <select multiple class="form-control">
                <option><a  *ngFor="let historico of historicos" class="list-group-item list-group-item-action">
                    {{ historico.nombre }}
                </a>
                </option>

                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </form>
            <br>
            <a  *ngFor="let historico of historicos" class="list-group-item list-group-item-action">
                <h5><b>Name:</b>&nbsp;{{ historico.nombre }}</h5>
                <h5><b>Date:</b>&nbsp;{{ historico.fecha }}</h5>
                <h5><b>Start Time:</b>&nbsp;{{ historico.hora_partida }}</h5>
                <h5><b>Lat:</b>&nbsp;{{historico.lat_partida }}</h5>
                <h5><b>Lng:</b>&nbsp;{{historico.lng_partida }}</h5>
                <h5><b>End Time:</b>&nbsp;{{ historico.hora_llegada }}</h5>
                <h5><b>Lat:</b>&nbsp;{{historico.lat_llegada }}</h5>
                <h5><b>Lng:</b>&nbsp;{{historico.lng_llegada}}</h5>
            </a>
            <br>
   
    </div>

    <div class="col-6">

        <h3>Mapa <small *ngIf="siguiendoNombre">Follow to: {{ siguiendoNombre }}</small> </h3>

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">

            <agm-marker *ngFor="let taxista of taxistas" [latitude]="taxista.lat" [longitude]="taxista.lng" [iconUrl]="'../assets/red-circle.ico'"></agm-marker>
            <agm-marker *ngFor="let taxista2 of items |async" [latitude]="taxista2.lat" [longitude]="taxista2.lng" [iconUrl]="'../assets/red-circle.ico'">


            ></agm-marker>

        <agm-polygon [paths]="nestedPaths"> </agm-polygon>
        </agm-map>

    </div>
    <div class="col">
          <h3>Taxistas</h3>
            <form>
            <div class="form-group">
            <label>Search: <input ng-model="searchText"></label>
            <br>
            <select multiple class="form-control" >
            <option (click)="seguir( taxista )" *ngFor="let taxista of taxistas"> {{ taxista.nombre }}</option>
            <option (click)="seguir( taxista2 )" *ngFor="let taxista2 of taxistas2"> {{ taxista2.nombre }}</option>
            </select>
            <br>
            <button *ngIf="siguiendoNombre" (click)="dejarDeSeguir()" class="btn btn-primary btn-block">
                Stop following
            </button>
            </div>
        </form>
    </div>
  </div>
</div>
