agm-map {
    height: 600px;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label{
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: white;
	border-radius: 25px;

}
input:checked + label{
	background: red;
}
input:checked + label:after{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
body{
	display: flex;
	justify-content: center;
	align-items: 100vh;
}